body {
			text-align: center;
		}
		#canvas {
			position: relative;
			background-color: #ccddcc;
			margin: 1em auto;
		}
		.ball {
			background-color: black;
			position: absolute;
			display: inline-block;
			border-radius: 50%;
		}